.Remote {
  .Remote__wrapper {
    .remote__bText {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 14px;
    }
    .remote__table {
      max-width: 70%;
      position: relative;
      .remote__rowInfo {
        display: flex;
        align-items: center;
        padding: 30px 15px 30px 30px;
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.56);
        .remote__ipInfo {
          width: 30%;
        }
      }
      .remote__row {
        display: flex;
        align-items: center;
        padding: 30px 15px 30px 30px;
        height: 87px;
        &:hover {
          .remote__edit {
            display: block;
          }
          .remote__delete {
            display: block;
          }
        }
        .remote__ip {
          width: 30%;
        }
        .remote__port {
          flex: 1;
        }
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
        img {
          max-height: 23px;
          max-width: 23px;
        }
        .remote__edit {
          margin-right: 16px;
          display: none;
        }
        .remote__delete {
          display: none;
        }
      }
      .remote__line {
        height: 2px;
        width: 100%;
        background-color: #e0e0e0;
      }
      .remote__empty {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        font-size: 18px;
        text-align: center;
        margin-top: 31px;
      }
      .remote__deleteModal {
        width: 360px;
        position: absolute;
        top: 50%;
        left: calc(50% - 180px);
        padding: 20px;
        background-color: #f5f5f5;
        .remote__modalFRow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          .remote__modalBText {
            font-weight: 600;
          }
          .remote__modalClose {
            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
            }
          }
        }
        .remote__modalLine {
          height: 2px;
          width: 100%;
          background-color: rgba(205, 211, 216, 1);
          margin-bottom: 20px;
        }
        .remote__modalText {
          font-size: 15px;
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }
        .remote__modalSRow {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 8px;
          margin-top: 20px;
          .remote__modalButton {
            button {
              width: 100px;
              height: 32px;
              border-radius: 4px;
              background-color: #2196f3;
              border: none;
              color: #fff;
              font-size: 15px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
